.Report {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}

@keyframes cloudflow {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-125vw);
  }
}

.rainCloud {
  color: rgb(155, 155, 155);
}

.stormCloud {
  color: rgb(41, 41, 41);
}

.hidden {
  display: hidden;
}

.fa-snowflake {
  position: absolute;
  font-size: 5rem;
  top: -100px;
}

#snow1,
#snow2,
#snow3 {
  /* left: 100%; */
  z-index: 0;
  animation-name: snowfall;
  animation-iteration-count: infinite;
  animation-direction: forwards;
  animation-timing-function: linear;
}

#snow1 {
  left: 25%;
  animation-duration: 10s;
  animation-delay: 4s;
}

#snow2 {
  left: 50%;
  animation-duration: 10s;
}

#snow3 {
  left: 75%;
  animation-duration: 10s;
  animation-delay: 2s;
}

@keyframes snowfall {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-20px, 62vh);
  }
  100% {
    transform: translate(0, 125vh);
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input,
form button {
  width: 15rem;
  padding: 0.5rem;
  font-size: 30px;
  border-radius: 20px;
  border: none;
  margin-bottom: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

form button {
  background: rgb(201, 255, 75);
}
